@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); }

.full-height {
	height: 100%;
}
html,body,.container {
	height: 100%;
}
/*#info {
	transition: width 2s, transform 2s;
}*/
.container {
	width: 100%;
	font-weight: normal;
}
.picPrev {
	height: 200px;
	background-color: lightgrey;
	margin: 10px 0px;
	overflow: hidden;
}
.row {
	height: 100%;
}
::-webkit-scrollbar {
	display: none; 
}
#info, #list {
	overflow-y: auto;
	padding: 5px 15px;
}
#list {
	background-color: #474A74;
}
#map {
	background-color: lightgrey;
}
ul#poolNameList {
	list-style-type: none;
	padding-left: 0;
}
#poolNameList .btn-link {
	color: white;
	padding: 2px;
	max-width: inherit;
	word-wrap: break-word;
	word-break:break-all;
    width: 100%;
    text-align: left;
    transition: all .15s ease;
}

#poolNameList .btn-link:focus, .btn-link:hover{
	outline:none;
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
}

h1 {
	font-size: 24px;
	font-weight:500;
}
h3 {
	font-size:15px;
	font-weight: normal;
}
#pool_status h3 {
	font-weight: bold;
}
h4 {
	font-weight: normal;
}

@media(max-width:767px){
	#map {
		height: 75%;
	}
	#info {
		height: 25%;
	}
	#list {
		display: none;
	}
}
@media(min-width:768px) and (max-width:991px){
	#map {
		height: 75%;
	}
	#info {
		height: 25%;
	}
	#list {
		display: none;
	}
}
@media(min-width:992px) and (max-width:1199px){
	#map, #info, #list {
		height: 100%;
	}
}
@media(min-width:1200px){
	#map, #info, #list {
		height: 100%;
	}
}